@font-face {
    font-family: 'Retalic_30_Lt';
    src: url('../fonts/GT-Planar-Retalic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Italic_30_Lt';
    src: url('../fonts/GT-Planar-Italic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Regular_Lt';
    src: url('../fonts/GT-Planar-Light-Trial.woff2') format('woff2');
}

body {
    margin: none;
    padding-left: 1%;
    padding-right: 12.5%;
    font-family: Regular_Lt;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #050d3c;
}

h1 {
    font-family: Italic_30_Lt;
    display: inline-block;
    color: #893c6f;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
}

h4 {
    font-size: 1.2rem;
}

p {
    text-align: justify;
    hyphens: auto;
    line-height: 125%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

ul {
    line-height: 180%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-around;
}

.item-left {
    width: 30%;
    padding-bottom: 0;
    padding-left: 20px;
}

.nav {
    padding-top: 2%;
    position: fixed;
}

.content {
    width: 70%;
}

a {
    color: #893c6f;
    font-size: 1.2 rem;
    font-weight: 500;
    text-decoration: none;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 1.4rem;
}

#nav_big {
    font-size: 1.4rem;
    font-family: Italic_30_Lt;
}

#nav_small {
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#nav_big:hover {
    font-family: Retalic_30_Lt;
}

#anfassen_main {
    font-size: 2rem;
}

#anfassen_main:hover {
    font-family: Italic_30_Lt;
}

#erfassen_main {
    font-size: 2rem;
}

#erfassen_main:hover {
    font-family: Retalic_30_Lt;
}

#current_link {
    font-family: Italic_30_Lt;
    color: #050d3c;
}

a.main_title {
    text-decoration: none;
    color: #893c6f;
    font-size: 3rem;
}

a.main_title:hover {
    font-family: Italic_30_Lt;
}

a:hover {
    font-family: Italic_30_Lt;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hr2 {
    opacity: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100vw;
}

.img_coordinates_container {
    display: flex;
}

.img_coordinates {
    padding-right: 3rem;
}

.img_linkeHand_container {
    display: flex;
}

.img_linkeHand {
    width: 47%;
    height: auto;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.img_rechteHand_container {
    display: flex;
}

.img_rechteHand {
    width: 47%;
    height: auto;
    padding-right: 3rem;
}

.img_haut_container {
    display: flex;
}

.img_patterns_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.img_haut {
    padding-right: 3rem;
}

.bildgruppe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entwurf {
    width: 400px;
    height: auto;
    padding: 20px;
}